node_modules
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/frontend/generated/flow/generated-flow-imports.d.ts
/src/main/frontend/generated/flow/generated-flow-imports.js
/src/main/frontend/generated/flow/generated-flow-webcomponent-imports.js
/src/main/frontend/generated/jar-resources/copilot/figma-public/figma-api.d.ts
/src/main/frontend/generated/jar-resources/copilot/shared/copilot-plugin-support.d.ts
/src/main/frontend/generated/jar-resources/copilot/shared/flow-utils.d.ts
/src/main/frontend/generated/jar-resources/copilot/base-panel-Dxg-R29a.js
/src/main/frontend/generated/jar-resources/copilot/copilot-CtbfhQDw.js
/src/main/frontend/generated/jar-resources/copilot/copilot-features-plugin-BlKaRIMg.js
/src/main/frontend/generated/jar-resources/copilot/copilot-feedback-plugin-dcwHosvn.js
/src/main/frontend/generated/jar-resources/copilot/copilot-global-vars-later-COrUEG67.js
/src/main/frontend/generated/jar-resources/copilot/copilot-info-plugin-CiF1K7Ds.js
/src/main/frontend/generated/jar-resources/copilot/copilot-init-step2-CRRDYwgO.js
/src/main/frontend/generated/jar-resources/copilot/copilot-log-plugin-fCsCubYG.js
/src/main/frontend/generated/jar-resources/copilot/copilot-shortcuts-plugin-2ExjHdK5.js
/src/main/frontend/generated/jar-resources/copilot/icons-DsRzzXLG.js
/src/main/frontend/generated/jar-resources/copilot/index-Dn-LW8Ql.js
/src/main/frontend/generated/jar-resources/copilot/overlay-monkeypatch-DLSz8eH8.js
/src/main/frontend/generated/jar-resources/copilot/query-BykXNUlT.js
/src/main/frontend/generated/jar-resources/copilot/state-BBJz6bnG.js
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/connection.d.ts
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/License.d.ts
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/live-reload-connection.d.ts
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/pre-trial-splash-screen.d.ts
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools.d.ts
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools.js
/src/main/frontend/generated/jar-resources/vaadin-dev-tools/websocket-connection.d.ts
/src/main/frontend/generated/jar-resources/vaadin-popover/popover.ts
/src/main/frontend/generated/jar-resources/vaadin-time-picker/helpers.js
/src/main/frontend/generated/jar-resources/vaadin-time-picker/timepickerConnector.js
/src/main/frontend/generated/jar-resources/comboBoxConnector.js
/src/main/frontend/generated/jar-resources/contextMenuConnector.js
/src/main/frontend/generated/jar-resources/contextMenuTargetConnector.js
/src/main/frontend/generated/jar-resources/copilot.css
/src/main/frontend/generated/jar-resources/copilot.d.ts
/src/main/frontend/generated/jar-resources/copilot.js
/src/main/frontend/generated/jar-resources/copilot-version.js
/src/main/frontend/generated/jar-resources/datepickerConnector.js
/src/main/frontend/generated/jar-resources/disableOnClickFunctions.js
/src/main/frontend/generated/jar-resources/dndConnector.js
/src/main/frontend/generated/jar-resources/Flow.d.ts
/src/main/frontend/generated/jar-resources/Flow.js
/src/main/frontend/generated/jar-resources/Flow.js.map
/src/main/frontend/generated/jar-resources/flow-component-directive.js
/src/main/frontend/generated/jar-resources/flow-component-renderer.js
/src/main/frontend/generated/jar-resources/FlowBootstrap.d.ts
/src/main/frontend/generated/jar-resources/FlowBootstrap.js
/src/main/frontend/generated/jar-resources/FlowClient.d.ts
/src/main/frontend/generated/jar-resources/FlowClient.js
/src/main/frontend/generated/jar-resources/gridConnector.ts
/src/main/frontend/generated/jar-resources/index.d.ts
/src/main/frontend/generated/jar-resources/index.js
/src/main/frontend/generated/jar-resources/index.js.map
/src/main/frontend/generated/jar-resources/lit-renderer.ts
/src/main/frontend/generated/jar-resources/menubarConnector.js
/src/main/frontend/generated/jar-resources/messageListConnector.js
/src/main/frontend/generated/jar-resources/ReactRouterOutletElement.tsx
/src/main/frontend/generated/jar-resources/selectConnector.js
/src/main/frontend/generated/jar-resources/theme-util.js
/src/main/frontend/generated/jar-resources/tooltip.ts
/src/main/frontend/generated/jar-resources/vaadin-big-decimal-field.js
/src/main/frontend/generated/jar-resources/vaadin-grid-flow-selection-column.js
/src/main/frontend/generated/jar-resources/virtualListConnector.js
/src/main/frontend/generated/vaadin.ts
/src/main/frontend/generated/vaadin-featureflags.js
/src/main/frontend/index.html
